body {
	background-image: url("background.jpg");
}
@font-face {
	font-family: Charger;
	src: url(Font/charger.otf);
}
@font-face {
	font-family: Nano;
	src: url(Font/Nanotech.otf);
}
.topnavbar {
	
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	display: table;
	border-radius: 10px;
	letter-spacing: 1px;
	position:relative;
	animation:animatetop 0.4s
}
@keyframes fadeInAnimation {
     0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
  }
.leftbar {
	text-align: center;
	width: 15%;
	float: left;
	font-family: Nano;
	color: white;
}
.body {
	text-align: center;
	animation: fadeInAnimation ease 1s;
	opacity: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes animatetop {
	from{top:-300px;opacity:0}
	to{top:0;opacity:1}
}
.lol {
	width: 60%;
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-radius: 60%;
}
a.navd {
	padding-left: 10%;
	color: white;
	text-decoration: none;
	font-family: Nano;
	transition: color 0.3s;
}
.navd:hover {
	color: #99e7ff;
}
a {
	color: rgba(255, 255, 255, 0.5);
}
.rightbar {
	text-align: center;
	width: 25%;
	margin-bottom: 0.5%;
	margin-top: 1%;
	float: right;
}
img {
	height: 40%;
	width: 30%;
	object-fit: cover;
}
.bottom {
	letter-spacing: 1px;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	font-family: Charger;
	color: rgba(255, 255, 255, 0.5);
}
.revamp {
	color: white;
	font-family: Charger;
	text-align: center;
	letter-spacing: 1px;
}
p.spartan {
	font-family: Charger;
	color: rgba(255, 255, 255, 0.5);
	letter-spacing: 1px;
}